[Desktop Entry]
Encoding=UTF-8
Name=AaltaDemoVideo
Type=Link
URL=https://www.youtube.com/watch?v=wB0oiWtFuE4
Icon=text-html
Name[en_US]=AaltaDemoVideo
