[Desktop Entry]
Encoding=UTF-8
Name=AaltaAuthorDemonstration
Type=Link
URL=http://lab205.org/aalta/data/aalta.mpg
Icon=text-html
Name[en_US]=AaltaAuthorDemonstration
